:root {
    background: url(fondo.png), #ff00d4;
    background: url(fondo.png), -webkit-gradient(linear, right top, left top, from(#ff00d4), to(#00d4ff));
    background: url(fondo.png), linear-gradient(to left, #ff00d4, #00d4ff);
}
#reloj {
    font-family: sans-serif;
    font-size: 60PX;
    text-shadow: 2px 0px 1px #333;
    color: #fff;
}

.reloj-contenedor {
    background: url(fondo.png),#f59e0b;
    background: url(fondo.png),-webkit-gradient(linear, right top, left top, from(#f59e0b), to(#ef4444));
    background: url(fondo.png),linear-gradient(to left, #f59e0b, #ef4444);
    padding: 30px;
    max-width: 350px;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10%;
}

#fecha {
    letter-spacing: 10px;
    font-size: 15px;
}

.animar {
    border: rgb(0, 0, 0) 2px solid;
}
